// @import './src/less/gradientMixins.less';

@primary-color: rgb(33, 58, 198);

//button
@btn-primary-color: #fff;
@btn-primary-bg: rgb(35, 105, 255);
@btn-square-only-icon-size: 20px;


@checkbox-color: @primary-color;
@alert-info-icon-color: blue; 

@icon-color: rgb(35, 105, 255);

@zindex-table-fixed: 1;

@drawer-header-padding:  0%;
@drawer-body-padding: 0%;

@border-radius-base: 4px;

//shadow
@shadow-color: rgba(0, 0, 0, 0.877);

//badge
@badge-dot-size: 8px;
@badge-status-size: 8px;

//alert
// @alert-info-border-color: blue;
// @alert-info-bg-color:rgba(197, 218, 252, 0.918);


//card
@card-radius: 8px;
@card-actions-li-margin: 12px 0;
@card-head-font-size: 24px;

//modal
@modal-header-border-width: 0px;
@modal-footer-border-width: 0px;

//select
@select-dropdown-bg: rgba(255, 253, 245, 0.87);

//switch
@switch-color: rgba(16, 136, 152, 0.884);

//@card-background: rgba(134, 180, 255, 0.815);

// @screen-xs and @screen-xs-min is not used in Grid
// smallest break point is @screen-md
@screen-xs: 480px;
@screen-xs-min: @screen-xs;
// 👆 Extra small screen / phone

// 👇 Small screen / tablet
@screen-sm: 501px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: 690px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: 936px;
@screen-lg-min: @screen-lg;

// Extra large screen / full hd
@screen-xl: 1400px;
@screen-xl-min: @screen-xl;

// Extra extra large screen / large desktop
@screen-xxl: 1600px;
@screen-xxl-min: @screen-xxl;

// provide a maximum
@screen-xs-max: (@screen-sm-min - 1px);
@screen-sm-max: (@screen-md-min - 1px);
@screen-md-max: (@screen-lg-min - 1px);
@screen-lg-max: (@screen-xl-min - 1px);
@screen-xl-max: (@screen-xxl-min - 1px);

