@import '~antd/dist/antd.less';

.App {
  text-align: center;
}

 
  .ant-card-head {  
    border-bottom: transparent;
   
  }
 
  
  #appContainer{
    height: 100vh;
    width: 100vw;
    background-image: url('./Backgrounds/HomeBkg.png');  
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
  
   
  }
  
 
  #componentContainer{
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
  
  
    // .ant-card-meta-description {
    //   overflow: auto;
    // }
  
    .ant-card-head {     
      margin-bottom: 30px;
     
    }
  
    #alertCard{
      height: 200px;
      overflow-y: auto;
      padding-bottom: 5px;
    }

   
      
    #waterMeterSvg{
      font-size: 40px;
      color:rgb(0, 60, 255);
    }
    #meterCardHeader{
      font-weight: 450;
      background: linear-gradient(to right top, #0004fcee, #3700fff3);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    #waterReading{
        background: linear-gradient(to right top, #006efdee, #006efdee, #0011fff3);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .ant-alert{
      // height:90px;
      padding-right: 15px;
      padding-left: 15px;
      margin-top:20px;
      border-radius: 8px;

      h3.ant-typography,
      .ant-typography h3 {
        margin-bottom: 0px;
      }

      .ant-col-offset-5 {
        margin-left: 23.16666667%;
      }
      
      #meterId{
        font-size: 12px;
        font-weight: 600;
      }

      #waterDropIcon{
        font-size: 40px;
      }

      .ant-switch{
        background-color: rgba(16, 136, 152, 0.884);
        color:white;
      }

      #statusBadge{
        padding-top: 20px;
        font-weight:600;
        color:rgb(0, 68, 255);      
        
      }

      #billSvg, #locationSvg{
        font-size: 25px;
        //font-weight:600;
      }
      
      .ant-badge-dot {
        z-index: 2px;        
        box-shadow: 2px 2px 2px 2px rgba(15, 15, 15, 0.568);
      }

      .ant-tag{
        background: linear-gradient(to right top, rgba(0, 0, 255, 0.37), rgba(0, 255, 255, 0.527));
        backdrop-filter: blur(0.5rem);
        border: 1px solid #0026fd;
        font-weight:500;
      }
    }
    
     
    }
  
  

